<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGjBF0U15D2kgO9Rf96QOw9t5aonwNUKM</string>
	<key>GCM_SENDER_ID</key>
	<string>170472101100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stationery</string>
	<key>PROJECT_ID</key>
	<string>stationery-fccfd</string>
	<key>STORAGE_BUCKET</key>
	<string>stationery-fccfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170472101100:ios:8a5b7f03396a6e11eec1c9</string>
</dict>
</plist>